/* Dark, modern, and visually appealing styling */

body {
  font-family: "Arial", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 350px;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #df9d33;
}

.input-section {
  margin-bottom: 20px;
}

.slider-output {
  font-size: 16px;
  margin: 10px 0;
}

.input-slidder {
  width: 100%;
  cursor: pointer;
  accent-color: #9a8739;
}

.output-section {
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(255, 204, 0, 0.3);
}

.output {
  font-size: 28px;
  font-weight: bold;
  color: #b89b24;
  margin-top: 10px;
}
